.header {
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $button-color;
  }
  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header__nav {
    color: $body-color;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
    padding-left: 93px;
  }
  .header-button .item:not(:first-child) {
    margin-left: 53px;
  }
  .header-button__styles {
    color: $body-color;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .item .color-action::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    opacity: 1;
    border-radius: 2px;
    background-color: $accent-color;
    bottom: 0;
    right: 0;
  }
  .contact-info {
    margin-left: auto;
  }
  .contact-info__styles {
    color: $second-color;
    margin-left: 50px;
    fill: $second-color;
  }
  .contact-info__styles:nth-child(1) {
    margin-left: 0px;
  }
  .contact-info__icon {
    fill: $second-color;
    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-info__styles--second-color {
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-info__styles--second-color:hover,
  .contact-info__styles--second-color:focus {
    color: $accent-color;
    fill: $accent-color;
  }
  .contact-info__icon:hover,
  .contact-info__icon:focus {
    fill: $accent-color;
  }
  .contact-info__styles--second-color:hover .contact-info__icon,
  .contact-info__styles--second-color:focus .contact-info__icon {
    color: $accent-color;
    fill: $accent-color;
  }