.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $body-color;
  }
  .logo-blue {
    color: $accent-color;
    font-size: 26px;
    line-height: 1.19;
    font-family: Raleway;
    letter-spacing: 0.03em;
  }
  .logo-white {
    color: $primary-white-color;
  }