
  $body-color: #212121;
  $accent-color: #2196f3;
  $primary-white-color: #ffffff;
  $second-color: #757575;
  $background-color: #2f303a;
  $color-contact: rgba(255, 255, 255, 0.6);
  $button-color: #f5f4fa;
  $grey-color: #afb1b8;
  $socials-bg: rgba(255, 255, 255, 0.1);
  $bg-glr-text: rgba(47, 48, 58, 0.8);
  $color-border: rgba(33, 33, 33, 0.2);
  $indent: 30px;
