.container__offer {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 1199px){
      display: none;
    }
  }
  .offer__list {
    gap: 30px;
  }
  .offer__style {
    position: relative;
    color: $primary-white-color;
  }
  .offer__style--text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: $bg-glr-text;
    text-align: center;
    position: absolute;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    bottom: 0%;
  }
  