  .clients__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
        // For tablet and desktop
    @media screen and (min-width: 1200px) {
    padding-top: 94px;
    }
  }

  .clients__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


  width: calc((100% - 60px) / 2);
  &:nth-child(2n + 1) {
    margin-right: 30px;
  }
  &:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 90px) / 3);
    & {
      margin-right: 30px;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-child(4) {
      margin-bottom: 0;
    }
  }


  @media screen and (min-width: 1200px) {
    width: 170px;
    &:not(:last-child) {
      margin-right: 30px;
    }
    &:nth-child(-n + 3) {
      margin-bottom: 0;
    }
  }
  }
  .clients__block {
    width: 210px;
    height: 92px;
    text-align: center;
    display: flex;
    align-items: center;
    background-position: center;
    justify-content: center;
    border: 1px solid $grey-color;
    border-radius: 4px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    border: 1px solid $accent-color;
    }
  }
  
  .clients__icon {
    fill: $grey-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .clients__block:hover &,
    .clients__block:focus & {
    fill: $accent-color;
  }
  }
  