.team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: $body-color;

  background-color: $button-color;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}
.team__indent {
  padding-top: 60px;
  padding-bottom: 60px;
}
.team__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.team__gallery {
  width: 270px;
  height: 428px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: $primary-white-color;
}
.team__name {
  margin-top: $indent;
}
.team__vocation {
  margin-top: 10px;
}
.team__link-indent {
  margin-top: 16px;
}

.team__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: $body-color;
}
.team__vocation {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: $second-color;
}
